<!DOCTYPE html>
<html>
  <head>
    <title>SMART CLOUD</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<h1> Smart Cloud</h1>
	<br>
	<% if user_signed_in? %>
	 <p>
	 <%= current_user.nom %> <%= current_user.prenom %> - <%= link_to "Deconnexion", destroy_user_session_path, :method => 'delete' %> 
	 </p>
	 <br>
	<% end %>
	<!-- 
	<p class="notice"> < %= notice %> </p>
	<p class="alert"> < %= alert %> </p>
	-->
    <%= yield %>
  </body>
</html>
